/JavaFXProyectoConstruccion/build/
/JavaFXProyectoConstruccion/dist/
JavaFXProyectoConstruccion/nbproject/private/private.xml
JavaFXProyectoConstruccion/nbproject/private/private.xml
JavaFXProyectoConstruccion/nbproject/private/private.xml
JavaFXProyectoConstruccion/nbproject/project.properties
JavaFXProyectoConstruccion/nbproject/build-impl.xml
JavaFXProyectoConstruccion/nbproject/genfiles.properties
JavaFXProyectoConstruccion/nbproject/private/private.properties
JavaFXProyectoConstruccion/nbproject/project.properties
JavaFXProyectoConstruccion/nbproject/project.xml
JavaFXProyectoConstruccion/nbproject/private/private.xml
