/JavaFXProyectoConstruccion/build/
/JavaFXProyectoConstruccion/dist/
JavaFXProyectoConstruccion/nbproject/private/private.xml
JavaFXProyectoConstruccion/nbproject/private/private.xml
JavaFXProyectoConstruccion/nbproject/private/private.xml
JavaFXProyectoConstruccion/nbproject/project.properties
JavaFXProyectoConstruccion/nbproject/private/private.xml
